<!-- Config file for Smus -->
<config>

    <musicdir>
        <!-- Format: <dir>C:/Music</dir> -->
        <!-- You can list multiple directories -->
        <dir>C:/Users/reeve_000/Desktop/Music</dir>
    </musicdir>

    <!-- Just change the rgba values here.-->
    <colours>
        <background> 
            <r>60</r>
            <g>30</g>
            <b>20</b>
            <a>255</a>
        </background>
        <progressbar> 
            <r>30</r>
            <g>20</g>
            <b>10</b>
            <a>255</a>
        </progressbar>
        <border> 
            <r>160</r>
            <g>120</g>
            <b>80</b>
            <a>255</a>
        </border>
        <text> 
            <r>255</r>
            <g>240</g>
            <b>220</b>
            <a>255</a>
        </text>
        <buttons> 
            <r>255</r>
            <g>250</g>
            <b>245</b>
            <a>190</a>
        </buttons>
        <buttonsfaded> 
            <r>255</r>
            <g>240</g>
            <b>220</b>
            <a>100</a>
        </buttonsfaded>
        <shadow>
            <r>20</r>
            <g>20</g>
            <b>20</b>
            <a>200</a>
        </shadow>
        <volume> 
            <r>255</r>
            <g>240</g>
            <b>220</b>
            <a>190</a>
        </volume>

    </colours>

</config>