<!-- Config file for Smus -->
<config>

    <musicdir>
        <!-- Format: <dir>C:/Music</dir> -->
        <!-- You can list multiple directories -->
        <dir>C:/Users/reeve_000/Desktop/Music</dir>
    </musicdir>

    <!-- Just change the rgba values here.-->
    <colours>
        <background> 
            <r>54</r>
            <g>63</g>
            <b>69</b>
            <a>255</a>
        </background>
        <progressbar> 
            <r>36</r>
            <g>34</g>
            <b>31</b>
            <a>255</a>
        </progressbar>
        <border> 
            <r>26</r>
            <g>24</g>
            <b>21</b>
            <a>255</a>
        </border>
        <text> 
            <r>255</r>
            <g>235</g>
            <b>192</b>
            <a>255</a>
        </text>
        <buttons> 
            <r>240</r>
            <g>210</g>
            <b>167</b>
            <a>255</a>
        </buttons>
        <buttonsfaded> 
            <r>240</r>
            <g>210</g>
            <b>167</b>
            <a>150</a>
        </buttonsfaded>
        <shadow>
            <r>20</r>
            <g>20</g>
            <b>20</b>
            <a>150</a>
        </shadow>
        <volume> 
            <r>240</r>
            <g>210</g>
            <b>167</b>
            <a>255</a>
        </volume>

    </colours>

</config>